<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.appclips.plugin" version="1.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	
	<name>CDVAppClips</name>
	
	<js-module name="CDVAppClips" src="www/CDVAppClips.js">
		<clobbers target="cordova.plugins.appclips" />
	</js-module>

	<!-- URL to open in WebView Instant App -->
	 <preference name="APP_INSTANT_CLIPS_URL"/>
	 <preference name="CREDENTIALS"/>
	 <preference name="WEBSERVICEURL"/>

	<platform name="ios">
		<preference name="PROVISIONING_PROFILES"/>
		<hook type="before_plugin_install" src="hooks/ios/install_custom_xcode_lib.js" />
		<hook type="before_plugin_install" src="hooks/ios/install_prerequisites.js" />
		<hook type="after_plugin_add" src="hooks/ios/add_swift_support.js" />
		<hook type="before_plugin_install" src="hooks/ios/copyAndUnzipProvisioningProfiles.js"/>        
        <hook type="after_plugin_install" src="hooks/ios/copyAppClipFolderToIosProjectFolder.js"/>
        <hook type="after_prepare" src="hooks/ios/copyProvisioningProfiles.js"/>
        <hook type="after_plugin_install" src="hooks/ios/addAppClipToProject.js"/>
        <hook type="after_plugin_install" src="hooks/ios/updateAppClipXcconfig.js"/>
        <hook type="after_prepare" src="hooks/ios/configureAppClipPlist.js"/>
        <hook type="before_compile" src="hooks/ios/updateCordovaBuildJs.js"/>
        <hook type="after_prepare" src="hooks/ios/update_config_xml.js"/>
        <hook type="before_prepare" src="hooks/ios/ios_entitlements_fix.js"/>
        <hook type="before_plugin_install" src="hooks/ios/save_provprof_info.js"/>
        <hook type="before_plugin_install" src="hooks/ios/save_pp_team.js"/>
        <hook type="before_plugin_install" src="hooks/ios/set_appclip_bundleid.js"/>
        <hook type="before_plugin_install" src="hooks/ios/set_associated_domains.js"/>
        
		<config-file target="config.xml" parent="/*">
	        <preference name="PROVISIONING_PROFILES" value="--PLACEHOLDER--" />
	    </config-file>

		<config-file parent="/*" target="config.xml">
			<feature name="CDVAppClips">
				<param name="ios-package" value="CDVAppClips" />
			</feature>
		</config-file>
	</platform>

	<platform name="android">

		<config-file parent="/*" target="res/xml/config.xml">
            <feature name="CDVAppClips">
                <param name="android-package" value="com.outsystems.experts.appclips.CDVAppClips" />
            </feature>

        </config-file>

		<hook type="after_plugin_install" src="hooks/android/moveInstantApp.js"/>
		<hook type="after_plugin_install" src="hooks/android/updateInstantAppUrl.js"/>
		<hook type="after_compile" src="hooks/android/registerInstantAppSettingsGralde.js"/>

		<!-- Variables strings -->
       	<config-file target="instant-app/src/main/res/values/strings.xml" parent="/*">
            <string name="app_instant_clips_url">$APP_INSTANT_CLIPS_URL</string>
        </config-file>
        <!-- End Variables -->
		
	</platform>
</plugin>