<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>compileBitcode</key>
    <false/>
    <key>app-store</key>
    <string>development</string>
    <key>teamID</key>
    <string>84FAD4VLK6</string>
    <key>provisioningProfiles</key>
    <dict>
      <key>com.outsystems.experts.appclipsample.AppClipTest</key>
      <string>d10c18e9-3b1c-45b2-8a8e-7b01f3e9f77c</string>
    </dict>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>iPhone Developer</string>
  </dict>
</plist>